<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
<!-- Remember to define absolute paths for CSS! Also, cascading priority is from top to bottom -->
<link rel="stylesheet" href="/css/styles.css" type="text/css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
  <title>Publications Management</title>
</head>
<body>
<!-- Forms buttons -->
<div>
  <!-- Create a button to go to the Publication List page -->
  <p><a th:href="@{/library/publications}" class="w3-button w3-green">Show all publications</a></p>
</div>
<div>
  <!-- Create a button to go to the Publication Form creation -->
  <p><a th:href="@{/publications/publicationForm}" class="w3-button w3-green">Add a new publication</a></p>
</div>
<div>
  <!-- Create a button to go to the Author Form creation -->
  <p><a th:href="@{/publications/authorForm}" class="w3-button w3-green">Add a new author</a></p>
</div>
<br>
</body>
</html>