<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Borrow creation form</title>
</head>
<body>
<!-- DEBUG: fields with errors -->
<ul>
    <li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
</ul>

<h1>Borrow form</h1>
<div class="w3-card-40" style="width:50%">
    <header class="w3-container w3-light-grey">
        <p>Create new borrow</p>
    </header>
    <div class="w2-container">
        <th:block th:if="${userId == null}">
            <form th:action="@{/borrows/create/}" method="post">
        </th:block>
        <th:block th:unless="${userId == null}">
            <form th:action="@{/borrows/create/{id}(id = ${pathId})}" method="post">
        </th:block>
            <p th:if="${userId == null}">
                <label for="userId">Select User</label>
                <select name="userId" class="form-control" id="userId">
                    <option th:each="user : ${availableUsers}" th:value="${user.id}" th:text="${user.firstName + ' ' + user.lastName}" />
                </select>
            </p>
            <p th:unless="${userId == null}" th:text="|User ID: ${userId}|"/>
            <p>
                <label>Available publications:</label>
                <br>
                <th:block th:each="publication : ${publications}">
                    <!-- Checked items to borrow will be stored in the 'publicationsToBorrow' -->
                    <input type="checkbox" name="publicationsToBorrow" th:value="${publication.id}" th:text="| Title: ${publication.title}|" />
                    <br>
                </th:block>
            </p>
            <p>
                <input type="submit" value="Submit borrows" />
                <input type="reset" value="Reset fields" />
            </p>
        </form>
    </div>
</div>

<!-- Print the response message -->
<th:block th:if="${createdBorrows != null}">
    <p>The following publications have been borrowed:</p>
    <ul th:each="borrow: ${createdBorrows}">
        <li th:text="${borrow.borrowedPublication.title}" />
    </ul>
</th:block>

<!-- Create a button to go to the Publications list -->
<p>
    <a th:href="@{/library/publications}" class="w3-button w3-red">Return to publications</a>
</p>
</body>
</html>