<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>User creation form</title>
</head>
<body>
    <h1>Member form</h1>
    <div>
    <!-- Show a Member form -->
    <form action="#" th:action="@{/library/createUser}" th:object="${newUser}" method="post">
        <p th:text="${'New user ID: ' + newUser.id}" />
        <!-- Person fields -->
        <p>First name: <input type="text" th:field="*{firstName}" required /></p>
        <p>Last name: <input type="text" th:field="*{lastName}" required /></p>
        <p>Nationality: <input type="text" th:field="*{nationality}" required /></p>
        <p>Birth date: <input type="date" th:field="*{birthDate}" required /></p>
        <!-- LibraryMember fields -->
        <p>Address: <input type="text" th:field="*{address}" /></p>
        <p>Phone number: <input type="text" th:field="*{phoneNumber}" /></p>
        <!-- User fields -->
        <p>Mail: <input type="email" th:field="*{mail}" required /></p>
        <p>Password: <input type="password" th:field="*{password}" required /></p>
        <p>
            <input type="submit" value="Submit member" />
            <input type="reset" value="Reset fields" />
        </p>
    </form>
    <!-- Create a button to go to the User Form creation -->
    <p>
        <a th:href="@{/library/publications}" class="w3-button w3-red">Return to publications</a>
    </p>
        <p>Submit results:</p>
        <p th:text="${'New user ID: ' + newUser.id}" />
        <p th:text="${'New user first name: ' + newUser.firstName}" />
        <p th:text="${'New user last name: ' + newUser.lastName}" />
        <p th:text="${'New user birth date: ' + #temporals.format(newUser.birthDate, 'dd/MM/yyyy')}" />
        <p th:text="${'New user mail: ' + newUser.mail}" />
        <p th:text="${newUser}" />
    </div>
</body>
</html>