<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <!-- Remember to define absolute paths for CSS! Also, cascading priority is from top to bottom -->
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <head>
        <meta charset="UTF-8">
        <title>Library Manager</title>
    </head>
    <body>
        <div class="w3-container w3-sand">
            <h1>Spring Boot Publications Example</h1>
            <h5>Table of publications from @Controller @Service @Repository and H2 DB</h5>
        </div>
        <br>
        <!-- Fake creation database -->
        <div>
            <!-- Create a button to populate the Publications database -->
            <p><a th:href="@{/library/createFakePublications(qtyPublications=10)}" class="w3-button w3-cyan">Create 10 fake publications on H2</a></p>
            <!-- Create a button to populate the LibraryMember database -->
            <p><a th:href="@{/library/createFakeLibraryMembers(qtyMembers=10)}" class="w3-button w3-cyan">Create 10 fake library members on H2</a></p>
        </div>
        <br>
        <!-- Clear buttons -->
        <div>
            <p>
                <!-- Create another button to clear the Publications database -->
                <a th:href="@{/library/clearPublications}" class="w3-button w3-red">Clear all Publications</a>
                <!-- Create another button to clear the Authors database -->
                <a th:href="@{/library/clearAuthors}" class="w3-button w3-red">Clear all Authors</a>
                <!-- Create another button to clear the LibraryMembers database -->
                <a th:href="@{/library/clearLibraryMembers}" class="w3-button w3-red">Clear all Library Members</a>
            </p>
        </div>
        <br>
        <!-- Forms buttons -->
        <div>
            <!-- Create a button to go to the Library Members Management -->
            <p><a th:href="@{/libraryMembers/}" class="w3-button w3-green">Manage Library Members</a></p>
        </div>
        <div>
            <!-- Create a button to go to the Publications -->
            <p><a th:href="@{/publications/}" class="w3-button w3-green">Manage Publications</a></p>
        </div>


        <br>

        <!-- Available publications -->
        <h2>Available publications</h2>
        <!-- Show all Publications -->
        <table class="w3-table-all w3-hoverable">
            <!-- The first row is the table header-->
            <tr>
                <td>Publication ID</td>
                <td>Publication type</td>
                <td>Title</td>
                <td>Author</td>
                <td>Publication date</td>
                <td>Publication format</td>
                <td>Status</td>
            </tr>

            <!-- Now we loop over all the available publications -->
            <!-- Instead of the DiscriminatorValue, we just simply print the class simple name -->
            <tr th:each="publication:${publicationsFromController}">
                <td th:text="${publication.id}"/>
                <td th:text="${publication.class.simpleName}"/>
                <td th:text="${publication.title}"/>
                <td th:text="${publication.author.firstName + ' ' + publication.author.lastName}"/>
                <td th:text="${publication.publicationDate}"/>
                <td th:text="${publication.format}"/>
                <td th:text="${publication.status}"/>
                <!-- Create a button to go to the Publications -->
                <td> <a th:href="@{/publications/updatePublication(id=${publication.id})}" class="w3-button w3-green">Update publication</a> </td>
            </tr>
        </table>
        <br>

        <!-- Library Members flip-cards -->
        <div class="header">
            <h2>Library Members flip-cards</h2>
        </div>
        <div class="flip-card standalone" th:each="libraryMember, idx:${libraryMembersFromController}">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">
                </div>
                <div class="flip-card-back">
                    <h1 th:text="${libraryMember.firstName + ' ' + libraryMember.lastName}"/>
                    <h2 th:text="${libraryMember.class.simpleName}"/>
                    <p th:text="${libraryMember.address}"/>
                    <p th:text="${libraryMember.phoneNumber}"/>
                    <p th:if="${libraryMember.class.simpleName == 'User'}" th:text="${libraryMember.mail}"/>
                    <p th:text="${idx.index}"/>
                </div>
            </div>
        </div>
        <br>

        <!-- Only Users flip-cards -->
        <div class="header">
            <h2>Only users flip-cards</h2>
        </div>
        <div class="flip-card standalone" th:each="user, idx:${usersFromController}">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">
                </div>
                <div class="flip-card-back">
                    <h1 th:text="${user.firstName + ' ' + user.lastName}"/>
                    <h2 th:text="${user.class.simpleName}"/>
                    <p th:text="${user.address}"/>
                    <p th:text="${user.phoneNumber}"/>
                    <p th:text="${idx.index}"/>
                </div>
            </div>
        </div>
        <br>

        <!-- Responsive grid -->
        <div class="header">
            <h2>Responsive grid</h2>
        </div>
        <div class="row">
            <div class="column">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </body>
</html>